
// http://versions.bulma.io/0.9.1/documentation/customize/variables/

@import './variables.scss';
@import 'bulma/bulma';

/*
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/icon";

@import "bulma/sass/components/menu";
@import "bulma/sass/form/shared";
@import "bulma/sass/form/input-textarea";
@import "bulma/sass/form/tools";

@import "bulma/sass/helpers/spacing";
@import "bulma/sass/helpers/typography";
@import "bulma/sass/helpers/float";
@import "bulma/sass/helpers/other";

@import "bulma/sass/layout/hero";
@import "bulma/sass/grid/columns";

@import "bulma/sass/helpers/_all";
@import "bulma/sass/helpers/color";

@import "bulma/sass/helpers/other";
@import "bulma/sass/helpers/overflow";
@import "bulma/sass/helpers/position";
@import "bulma/sass/helpers/visibility";

@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";
*/

.button-app {
    width:8em;
    border-radius: 0.5em !important;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
    background-color: $primary !important;
    color: white !important;
    font-size:1.4em;
  }

.svg-fill-color { color: #A6C0CA};



